body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f6f8;
    flex-direction: column;
    font-family: 'Wanted Sans', sans-serif;
}

.white-box {
    background-color: white;
    padding: 40px;
    border-radius: 45px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 65%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}