@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f6f8;
    flex-direction: column;
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    margin: 5% 0;
    font-size: 2.5vw;
}

.white-box {
    background-color: white;
    padding: 40px;
    border-radius: 45px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 65%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shapes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.4vw;
    margin: 5% 0;
}

.shape {
    width: 4vw;
    height: 4vw;
    animation: bounce 2s infinite;
    animation-delay: calc(var(--random) * 1s);
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.round-button {
    display: inline-block;
    padding: 1vw 3vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
    background-color: #00ddb8;
    border: none;
    border-radius: 70px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    margin: 25% 0;
}

.round-button:hover {
    background-color: #00c4a1;
}
